@font-face {
  font-family: 'Norse';
  src:
    url('fonts/Norse-Bold.woff2') format('woff2'),
    url('fonts/Norse-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Norse';
  src:
    url('fonts/Norse.woff2') format('woff2'),
    url('fonts/Norse.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100vh;
  height: 100vh;
}

.bg-overlay {
  background-image: url('images/bg.avif');
  min-width: 40%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  background-color: rgba(0, 0, 0, 0.519);
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#title {
  font-size: 6rem;
  font-family: 'Norse';
}

#odin {
  width: 7rem;
  height: auto;
}

.background-credits {
  position: absolute;
  bottom: 20px;

  width: 100%;
  color: white;

  font-size: clamp(0.4rem, 3vw, 1rem);
  text-align: center;
}

.background-credits a {
  color: white;
}
.row-1,
.row-2,
.row-3 {
  display: flex;
  width: 100%;
}

button {
  width: 12rem;
  border: none;
  background-color: blue;
  color: white;
  padding: 1em 2em 1em 2em;
  border-radius: 7px;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 2em;
  margin-left: 5rem;
}
